.header {
    
    padding: 5px;
    text-align: center;
    background: #116466;
    color: white;
    font-size: 20px;
  }
  
  body {
    font-family: sans-serif;
    font-size: 110%;
    background-color: #d1e4df4b;
    display: flex;
    flex-direction: column ;
      }


  .main{
  display: flex;
  flex-direction: row;
  overflow: unset;
  }


  
  #sidebar{
    background-color: #d9b08c7e;
    margin: 100;
    padding: 1rem;
    width: 12%;
    height: 30%;
  }
  
  .navList{
    list-style-type: none;
    padding: 0%;
  }

      #profilePhoto{
  width: 15;
  height: 15%;
  border-radius: 50%;
  border: 3px solid black;
}
  .footer {
    position: relative;
    left: 0;
    bottom: 1000;
    width: 100%;
    background-color: #2c3531;
    color: white;
    text-align: center;
  }

  .icon{
    width: 3rem;
    margin: 2rem;

  }
  