.header {
    padding: 30px;
    text-align: center;
    background: #460425;
    color: white;
    font-size: 30px;
  }

  <style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
</style>